---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "Astro Cactus",
	description: "The perfect starter for your perfect blog.",
};

const MAX_POSTS = 9;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">欢迎你</h1>
		<p class="mb-4">
			我是一名web应用的全栈开发者,我的博客会写作web前后端开发的内容以及区块链相关的内容，也会关注些新事物如zig。
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">最新blog：</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">最近关注的技术栈：</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Astro
				</a>:
				<p class="inline-block sm:mt-2">web同构框架，采用island架构，与nextjs，remix是竞品。</p>
			</li>
			<li>
				<a
					href="https://ziglang.org/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>zig
				</a>:
				<p class="inline-block sm:mt-2">
					新系统级编程语言，被uber，bunjs所用。
				</p>
			</li>
			<li>
				<a
					href="https://turbo.build/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Turbo
				</a>:
				<p class="inline-block sm:mt-2">
					采用rust实现的前端工程化工具集，含turborepo（新一代monorepo构建系统），以及turbopack（新一代webpack）。
				</p>
			</li>
		
		</ul>
	</section>
</PageLayout>
